@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handjet&family=Indie+Flower&family=Rubik+Iso&display=swap');

body{
    max-width: 1000px;
    margin: auto;
    background-image:
    url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
width: 400px;
position: fixed;
top: 25px;
left: 25px;
font-family: 'Rubik Iso', cursive;
font-size: large;
}

header img{
    width: 350px;
    position: fixed;
    top:25px;
    left: 5px;
}

nav{
border: 5px bisque dotted;
width: 300px;
position: fixed;
top: 300px;
left: 25px;
}

nav h3{
    color: bisque;
    font-family: 'Rubik Iso', cursive;
    font-size: larger;
    text-decoration: underline;
}

a{
    font-family: 'Rubik Iso', cursive;
    text-decoration: none;
    color:bisque; 
    font-size: medium;
}

main{
    width: 650px;
    margin-left: 500px;
}

main p{
    font-family: 'Rubik Iso', cursive;
    font-size: xx-large;
    color: white;
}

section{
    background-color: rgba(207, 134, 46, 0.256);
    padding: 25px;
    border: 5px white dotted;
    margin-top:50px;
    text-align: center;
}

section img{
    display: block;
    margin: auto; 
}

section p{
    text-align: center;
    color:white;
    font-family: 'Handjet', cursive;
    font-size: larger;
}

footer{
    color: white;
    width: 400px;
    position: fixed;
    bottom: 25px;
    left: 25px;
    font-family: 'Rubik Iso', cursive;
}

#splashgif{ 
    margin: auto;
    width: 50%;
    text-align: center;
}

